In [ ]:
# !pip install pandas numpy matplotlib seaborn openpyxl

# Import

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [7]:
import os

# Brainstorming

## Expenses

### Savings/Investments

- thd stock
    - \$250 per paycheck, $\sum_{i=1}^{52} K_i = \$13000$
- roth ira
    - \$500 per month, $\sum_{i=1}^{12} K_i = \$6000$
- flourish account
    - \$ 1000 per month, $\sum_{i=1}^{12} K_i = \$12000$
- rent/downpayment
    - NaN

In [22]:
thd_stock_pck = 250
thd_stock_yr = thd_stock_pck * 26
thd_stock_mon = thd_stock_yr / 12

In [23]:
roth_ira_mon = 500
roth_ira_yr = roth_ira_mon * 12

In [24]:
savings_mon = 1000
savings_yr = savings_mon * 12

In [25]:
investment_mon = sum([thd_stock_mon, roth_ira_mon, savings_mon])

### Living Expenses

- net payment to family
    - \$650 per month, $\sum_{i=1}^{12} K_i = \$7800$
- eating out
    - let's figure out what it was last month
- clothes
    - hasn't been anything since the trip

In [28]:
fam_exp_mon = 650
fam_exp_yr = fam_exp_mon * 12

### Medical

- dental
- ASC
    - $K_{\text{session}} \approx \$220$
- Chiropractic
- Massage
    - $K_{\text{session}} \approx \$200$

### Debt

- Former Credit Cards from BofA
    - roughly \$350 total
- To parents
    - \$500 per month over 8 months (may consider \$400 over 10 months)
    - $K_{\text{month}} = \$500 \quad \quad \sum_{i}^{M} K_i = \$4000$

In [29]:
debt_mon = 500
debt_tot = debt_mon * 8

### Subscriptions

- OpenAI
    - \$20 per month, $\sum_{i=1}^{12} K_i = \$240$
- Apple Storage
- Google Storage
- Splice
    - \$12-15 per month, $\sum_{i=1}^{12} K_i \approx \$150$

### Musical Instruments

- Sire Bass
- Tele
- VSX headphones
- $\sum_{\text{Inst}} = \$114.33/ \text{month}$

### Analysis

In [31]:
# Paycheck level
paycheck = 2845.46
yearly_pay = paycheck * 26
monthly_pay = yearly_pay/12

In [21]:
print(f"monthly pay is roughly ${round(monthly_pay):,.2f}")

monthly pay is roughly $6,165.00

In [30]:
monthly_pay - investment_mon - fam_exp_mon - debt_mon

2973.496666666668

In [32]:
a, inst = 1, 0.04

In [33]:
inst += a

Reminder: Basic Compound Interest:

$S_t = S_0 \cdot (1 + r)^t + d \cdot \frac{(1+r)^t - 1}{r}$
- $S_0 = \text{starting balance}$
- $d_i = \text{deposit at month }i$
- $S_t = S_o + d \cdot t$
    - if deposits are constant for each $d$ month

With Variable Deposits:

$S_t = S_0 \cdot (1 + r)^t + \sum_{i=1}^{t} d_i \cdot (1 + r)^{t-i}$

In [46]:
# Cell: savings growth function
def savings_growth(
    start_balance: float,
    monthly_deposit: float,
    months: int,
    annual_rate: float = 0.0,
    variable_deposits: list = None
):
    """
    Calculate savings growth over time.
    
    Parameters
    ----------
    start_balance : float
        Starting savings balance.
    monthly_deposit : float
        Fixed monthly deposit (ignored if variable_deposits provided).
    months : int
        Number of months to simulate.
    annual_rate : float
        Annual interest rate in decimal form (e.g., 0.05 for 5%).
    variable_deposits : list, optional
        List of deposits for each month (overrides monthly_deposit).
        
    Returns
    -------
    balances : list of float
        Balance at the end of each month.
    """
    r = annual_rate / 12  # monthly interest rate
    balances = []
    balance = start_balance
    
    for t in range(months):
        # Deposit
        deposit = variable_deposits[t] if variable_deposits else monthly_deposit
        balance += deposit
        # Apply interest
        balance *= (1 + r)
        balances.append(balance)
    
    return balances

In [96]:
years = 5

In [97]:
months = years * 12

In [98]:
balances = savings_growth(start_balance=0, monthly_deposit=1000, 
               months=months, annual_rate=0.04)